<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76585128717-birat3u5jbtn1p5mqaqo6u9nmb0r9sjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76585128717-birat3u5jbtn1p5mqaqo6u9nmb0r9sjn</string>
	<key>API_KEY</key>
	<string>AIzaSyAW7yK62sf0KTcTXOQbBd4REygMLGIV9jg</string>
	<key>GCM_SENDER_ID</key>
	<string>76585128717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.livizShop</string>
	<key>PROJECT_ID</key>
	<string>livi-z-boutique</string>
	<key>STORAGE_BUCKET</key>
	<string>livi-z-boutique.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76585128717:ios:0ac7bce6bca0e29e619644</string>
</dict>
</plist>